<div class="flex flex-wrap align-items-center m-3">
  <p-button
    label="refresh"
    class="m-2 mylist"
    severity="help"
    [outlined]="false"
    (click)="ngOnInit()"
  >
  </p-button>
  <span class="pl-2 text-xl">Solved {{ nSolved }}/{{ nTotal }}</span>
</div>
<p-divider type="dashed"></p-divider>
<!-- <div style="position: relative"> -->
<div class="relative">
  <ng-container *ngIf="nSolved == nTotal">
    <div
      class="absolute w-full h-full flex justify-content-center align-items-center"
    >
      <app-button-confetti></app-button-confetti>
    </div>
  </ng-container>

  <div class="flex flex-wrap m-3">
    <app-button
      *ngFor="let button of buttons; trackBy: trackByItem"
      [label]="button.label"
      [id]="button.id"
      [state]="button.state"
      [parent]="this"
    >
    </app-button>
  </div>
</div>
