<div class="flex w-full flex-wrap justify-content-center align-items-center">
  <p-button
    icon="pi pi-minus"
    [outlined]="true"
    (click)="decrement()"
  ></p-button>
  <div class="relative">
    <div class="absolute w-full flex justify-content-center">
      <app-display-progress ngClass=""></app-display-progress>
    </div>
    <!-- invisible text element so that button spacing is constant while quiz is solved -->
    <div class="ml-3 mr-3 text-xl" style="visibility: hidden">Solved 0/10</div>
  </div>
  <p-button
    icon="pi pi-plus"
    [outlined]="true"
    (click)="increment()"
  ></p-button>
</div>
